Dated: 9 Aug 2024
* https://docs.python.org/3/library/re.html
* https://www.dataquest.io/blog/regex-cheatsheet/

In [1]:
import re

In [8]:
text = """pakistan zinda bad 
123 456 7892
\tm.qasim077@gmail.com
panacloud
ned zinda bad
"""
display(text)
print(text)
# data = re.findall("p",text, re.IGNORECASE)
# print(data)

# data = re.findall(".",text, re.IGNORECASE)
# print(data)

'pakistan zinda bad \n123 456 7892\n\tm.qasim077@gmail.com\npanacloud\nned zinda bad\n'

pakistan zinda bad
123 456 7892
	m.qasim077@gmail.com
panacloud
ned zinda bad

In [9]:
text = """pakistan zinda bad
123 456 7892
\tm.qasim077@gmail.com
panacloud
ned zinda bad
"""

data = re.findall('.', text) # . anything except \n (newline)
print(data)

['p', 'a', 'k', 'i', 's', 't', 'a', 'n', ' ', 'z', 'i', 'n', 'd', 'a', ' ', 'b', 'a', 'd', ' ', '1', '2', '3', ' ', '4', '5', '6', ' ', '7', '8', '9', '2', '\t', 'm', '.', 'q', 'a', 's', 'i', 'm', '0', '7', '7', '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm', 'p', 'a', 'n', 'a', 'c', 'l', 'o', 'u', 'd', 'n', 'e', 'd', ' ', 'z', 'i', 'n', 'd', 'a', ' ', 'b', 'a', 'd']

In [11]:
text = """pakistan zinda bad
123 456 7892
\tm.qasim077@gmail.com
panacloud
ned zinda bad
abad pakistan my country
xyz abc egh
"""
# pa
data = re.findall('pa', text) # . anything except \n (newline)
print(data)

['pa', 'pa', 'pa']

# *, +
* + 1 or many
* * 0 or many

In [13]:
text = """pakistan zinda bad
123 456 7892
\tm.qasim077@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
xyz abc egh
"""
# pa
data = re.findall('pa.', text) # pa. first character p, second a, third . (anything expect \n)
print(data)

['pak', 'pan', 'pak']

In [21]:
text = """pakistan zinda bad
123 456 7892
polan hello world
\tm.qasim077@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
xyz abc egh
"""
data = re.findall('p.*n', text) # pa. first character p, second a, third . (anything expect \n)
print(data)


# data = re.findall('.o.n..y', text) # pa. first character p, second a, third . (anything expect \n)
# print(data)

# # pa
# data = re.findall('z...a', text) # pa. first character p, second a, third . (anything expect \n)
# print(data)

# data = re.findall('p......n', text) # pa. first character p, second a, third . (anything expect \n)
# print(data)

['pakistan zin', 'polan', 'pan', 'pakistan my coun']

In [25]:
text = """pakistan zinda bad
123 456 7892
polan hello world
\tm.qasim077@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
xyz abc egh
"""
data = re.findall('p.+n', text) # pa. first character p, second a, third . (anything expect \n)
print(data)

['pakistan zin', 'polan', 'pan', 'pakistan my coun']

In [36]:
text = """pakistan \n zinda bad
123 456 7892
polan hello world
\tm.qasim077@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
Pakistan
hello pppp add pp 
xyz abc egh
"""
# data = re.findall('p.+n', text) # pa. first character p, second a, third . (anything expect \n)
# print(data)

data = re.findall('p+', text, re.IGNORECASE) # pa. first character p, second a, third . (anything expect \n)
print(data)

['p', 'p', 'p', 'p', 'p', 'P', 'pppp', 'pp']

In [ ]:
text = """pakistan \n zinda bad
123 456 7892
polan hello world
\tm.qasim077@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
Pakistan
hello pppp add pp 
xyz abc egh
"""

# ^ and $
* ^ start line

* $ end of line

In [61]:
text = """pakistan zinda bad"""
text = """pak zinda bad"""


data = re.findall("^p.*d$", text)
print(data)

['pak zinda bad']

In [60]:
text = """pakistan zinda bad
123 456 7892
polan hello world
\tm.qasim077@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
Pakistan
hello pppp add pp 
xyz abc egh
"""
data = re.findall("^p.*d$", text)
print(data)

[]

In [63]:
text = """pakistan zinda bad
123 456 7892
polan hello world
\tm.qasim077@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
Pakistan
hello pppp add pp 
xyz abc egh
"""
data = re.findall("^h.*a$", text, re.MULTILINE)
print(data)

# data = re.findall("^p.*d$", text, re.MULTILINE)
# print(data)

['hello world pa']

# ?

In [72]:
text = """pakistan zinda bad
123 456 7892
polan hello world
\tm.qasim077@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
pik 
pop
Pakistan
hello pppp add pp 
xyz abc egh
"""

data = re.findall("p.k?", text)
data

['pak', 'po', 'pa', 'pak', 'pa', 'pik', 'po', 'pp', 'pp', 'pp']

In [76]:
text = """pakistan zinda bad
123 456 7892
polan hello world
\tm.qasim077@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
pik 
pop
Pakistan
hello pppp add pp 
xyz abc egh
"""

data = re.findall("p.*n", text)
print(data)

data = re.findall("p.*?n", text)
print(data)

['pakistan zin', 'polan', 'pan', 'pakistan my coun']
['pakistan', 'polan', 'pan', 'pakistan']

In [80]:
text = """

 Pakistan 
 
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

zinda bad

"""

pattern = "<.*?>*.?</.*?>"

data = re.findall(pattern, text)

print(data)

['<h1>This is a Heading</h1>', '<p>This is a paragraph.</p>']

In [8]:
import re

text = """

 Pakistan 
 
<h1>This is a Heading</h1>
<h2>Second heading</h2>
<p>This is a paragraph.</p>

zinda bad

"""

pattern = "<h.>.*</h.>"

data = re.findall(pattern, text, re.MULTILINE)

print(data)

['<h1>This is a Heading</h1>', '<h2>Second heading</h2>']

# {m,n}

In [12]:
text = """
pakistan zinda bad
123 456 7892
polan hello world
\tm.qasim077@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
pik 
pop
Pakistan
hello pppp add pp 
pppppp pppppppp pppppp
xyz abc egh
"""

data = re.findall("p{4}", text)
print(data)

['pppp', 'pppp', 'pppp', 'pppp', 'pppp']

In [18]:
text = """
pakistan zinda bad
123 456 7892
polan hello world
\tm.qasim077@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
pik 
pop
Pakistan
hello pppp add pp 
pppppp pppppppp pppppp

paaaak
pyyyyk
p222k
xyz abc egh
"""

data = re.findall("p.{4}k", text)
print(data)

['paaaak', 'pyyyyk']

In [19]:
text = """
pakistan zinda bad
123 456 7892
polan hello world
\tm.qasim077@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
pik 
pop
Pakistan
hello pppp add pp 
pppppp pppppppp pppppp

paaaak
pyyyyk
p222k
xyz abc egh
"""

data = re.findall("p.{3,4}k", text)
print(data)

['paaaak', 'pyyyyk', 'p222k']

In [24]:
text = """
pakistan zinda bad
123 456 7892
polan hello world
\tm.qasim077@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
pik 
pop
Pakistan
hello pppp add pp 
pppppp pppppppp pppppp

paaaak
pyyyyk
p222k
xyz abc egh
"""

data = re.findall("p.{2,10}?n", text)
print(data)

['pakistan', 'polan', 'pakistan']

In [28]:
text = """
pakistan zinda bad
123 456 7892
polan hello world
\tm.qasim077@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
pik 
pop
Pakistan
hello pppp add pp 
pppppp pppppppp pppppp

paaaak
pyyyyk
p222k
xyz abc egh
tofail adnan
"""

data = re.findall("[pta].*?[nkh]", text)# p or t or a should be in start line
print(data)

['pak', 'tan', 'polan', 'pan', 'abad pak', 'tan', 'pik', 'ak', 'tan', 'paaaak', 'pyyyyk', 'p222k', 'abc egh', 'tofail adn', 'an']

In [32]:
text = """

 Pakistan 
 
<h1>This is a Heading</h1>
<h2>Second heading</h2>
<p>This is a paragraph.</p>
<h3>Hello world</h3>

zinda bad

"""

data = re.findall("<h[123456]>.*?</h[123456]>", text)
data

['<h1>This is a Heading</h1>',
 '<h2>Second heading</h2>',
 '<h3>Hello world</h3>']

In [34]:
text = """

 Pakistan 
 
<h1>This is a Heading</h1>
<h2>Second heading</h2>
<p>This is a paragraph.</p>
<h3>Hello world</h3>

zinda bad

"""

data = re.findall("<h[1-6]{1}>.*?</h[1-6]{1}>", text)
data

['<h1>This is a Heading</h1>',
 '<h2>Second heading</h2>',
 '<h3>Hello world</h3>']

In [41]:
text = """

 Pakistan 
 
<h1>This is a Heading</h1>
<h2>Second heading</h2>
<p>This is a paragraph.</p>
<h3>Hello world</h3>



zinda bad

"""

data = re.findall("<h[1-6]>(.*?)</h[1-6]>", text)
data

['This is a Heading', 'Second heading', 'Hello world']

In [45]:
text = """

 Pakistan 
 
<h1>This is a Heading</h1>
<h2>Second heading</h2>
<p>This is a paragraph.</p>
<h3>Hello world</h3>

42201-7578760-1
42201-7578761-2
42201-7578762-3

zinda bad

"""

data = re.findall("[0-9]{5}-[0-9]{7}-[0-9]{1}", text)
data

['42201-7578760-1', '42201-7578761-2', '42201-7578762-3']

In [62]:
text = """

 Pakistan 
 
<h1>This is a Heading</h1>
<h2>Second heading</h2>
<p>This is a paragraph.</p>
<h3>Hello world</h3>

42201-7578760-1
42201-7578761-2
42201222-7578762-4

zinda bad

"""

data = re.findall("^(\d{5})-(\d{7})-(\d{1})$", text, re.MULTILINE)
data

[('42201', '7578760', '1'), ('42201', '7578761', '2')]