# Practice with pandas

In [1]:
import pandas as pd;

## Given a CSV file named `data.csv` with columns 'area', 'bedrooms', 'age' , 'price' .

In [3]:
homepricesDF = pd.read_csv(r'imports/homeprices.csv')

## Display the first ,last  and random 5 rows of the DataFram

In [8]:
homepricesDF.head(1)

   area  bedrooms   age     price
0  2600       3.0  20.0  550000.0

In [9]:
homepricesDF.tail(1)

    area  bedrooms   age     price
11  2500       7.0  35.0  810000.0

In [10]:
homepricesDF.sample(5)

    area  bedrooms   age     price
7   4000       5.0  15.0       NaN
6   3600       NaN  22.0       NaN
11  2500       7.0  35.0  810000.0
8   4100       3.0  18.0  610000.0
5   3200       6.0   NaN  810000.0

## Print the mean price and see if any missing values present visualize the missing values if there

In [12]:
print(homepricesDF['price'].mean())

666500.0

In [17]:
homepricesDF.isna().sum()

area        0
bedrooms    2
age         1
price       2
dtype: int64

## Calculate and print summary statistics for the `age` column (mean, median, standard deviation)

In [31]:
print(homepricesDF['age'].agg(['mean', 'median', 'std']))

mean      22.454545
median    20.000000
std        9.059400
Name: age, dtype: float64

## Filter and print the records of employees who are older than 30 years.

In [35]:
homepricesDF[homepricesDF['age'] > 30]

    area  bedrooms   age     price
10  4100       6.0  36.0  760000.0
11  2500       7.0  35.0  810000.0

## Group the data by `price` and calculate the mean price for each age group.

In [38]:
homepricesDF.groupby('price')['age'].mean()

price
550000.0    20.0
565000.0    15.0
595000.0    30.0
610000.0    18.0
760000.0    22.0
810000.0    35.0
Name: age, dtype: float64

## Write a Python function called `load_and_describe_csv` that:
  ### Takes the filename of a CSV file as input.
  ### Loads the CSV file into a pandas DataFrame.
  ### Returns the DataFrame and its summary statistics.

In [43]:
def load_and_describe_csv(filename):
  df = pd.read_csv(rf'{filename}')

  return df, df.describe()