In [1]:
input1 = input("input 1")

In [2]:
input2= input("input 2")

In [3]:
input1 = int(input1)
input2 = int(input2)

In [4]:
input1 + input2

3

In [5]:
print("The sum of {} and {} is {}".format(input1, input2, input1 + input2))

The sum of 1 and 2 is 3

In [6]:
print('The sum of {} and {} is {}'.format(input1, input2, input1 + input2))

The sum of 1 and 2 is 3

In [7]:
print(f'The sum of {input1} and {input2} is {input1 + input2}'.format(input1, input2, input1 + input2))

The sum of 1 and 2 is 3

In [8]:
print(f'The sum of {input1} and {input2} is {input1 + input2}'.format(input1, 'input2', input1 + input2))

The sum of 1 and 2 is 3

In [9]:
print(f'The sum of {input1} and {input2} is {input1 / input2}'.format(input1, 'input2', input1 + input2))

The sum of 1 and 2 is 0.5

In [11]:
print(f'The sum of {input1} and {input2} is {input1 // input2}') #floor division

The sum of 1 and 2 is 0

double division // converts the result to integer

1/2 = 0.5


1//2 = 0

// is called floor division

In [13]:
print(f'The power of {input2} and {input1} is {input2 ** input1}') #power

The power of 2 and 1 is 2

In [14]:
print(f'The power of {10} and {5} is {10 ** 5}') #power

The power of 10 and 5 is 100000

In [15]:
print(f'The power of {10} and {5} is {10 % 5}') #remainder

The power of 10 and 5 is 0

PEMDAS rule, is like BODMAS rule of math

P = paranthesis
E = exponent
M = multiplication
D = division
A = addition
S = subtraction

In [16]:
4 + 6 / 5 % (2 - 4)

3.2

two types of operators


assignee operator


arithmatic operators

In [17]:
i = 1

In [18]:
i + 1

2

In [19]:
# i = i + 1

In [20]:
# assignee operator
# i += 1

In [21]:
i/=2

In [22]:
1/=2

SyntaxError: 'literal' is an illegal expression for augmented assignment (12905041.py, line 1)

In [23]:
i

0.5

In [24]:
1+=2

SyntaxError: 'literal' is an illegal expression for augmented assignment (3796083237.py, line 1)

In [25]:
range(0, 5)

range(0, 5)

In [26]:
list(range(0, 5))

[0, 1, 2, 3, 4]

In [30]:
list(range(1, 5)) #range(start, end, step) where start is inclusive and end in exclusive

[1, 2, 3, 4]

In [28]:
list(range(5))

[0, 1, 2, 3, 4]

In [31]:
list(range(5, 10)) #range(start, end, step) where start is inclusive and end in exclusive

[5, 6, 7, 8, 9]

In [32]:
list(range(5.5, 10.6)) #range(start, end, step) where start is inclusive and end in exclusive

TypeError: 'float' object cannot be interpreted as an integer

In [33]:
list(range(10, 5)) #range(start, end, step) where start is inclusive and end in exclusive

[]

In [34]:
list(range(5, 5)) #range(start, end, step) where start is inclusive and end in exclusive

[]

In [35]:
str(list(range(5, 5)))

'[]'

In [38]:
str(list(range(5, 15)))

'[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]'

In [39]:
list(str(range(5, 15)))

['r', 'a', 'n', 'g', 'e', '(', '5', ',', ' ', '1', '5', ')']

In [40]:
list(range(5, 10, 2))

[5, 7, 9]

In [41]:
list(range(5, 15, 2))

[5, 7, 9, 11, 13]

In [42]:
list(range(5, 15, 1))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [43]:
list(range(5, 15, 3))

[5, 8, 11, 14]

In [44]:
list_num = list(range(12,50,3))

In [45]:
print(list_num.reverse())

None

In [46]:
print(list_num[::-1])

[12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [47]:
list_num = [1,2,3,4,5,6,7,8,9]
print(list_num.reverse())

None

In [48]:
print(list_num[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
list(reversed(range(1, 12)))

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [51]:
list(reversed("Faraz"))

['z', 'a', 'r', 'a', 'F']

In [53]:
for value in range(11):
  print(value)

0
1
2
3
4
5
6
7
8
9
10

In [54]:
"A" in "FAraz"

True

In [55]:
"a" in "FAraz"

True

In [56]:
"Z" in "FAraz"

False

In [57]:
# for iterator in iterable
for value in "Faraz":
  print(value)

F
a
r
a
z

In [58]:
i = 1
for value in range(11):
  i += value
  print(i)

1
2
4
7
11
16
22
29
37
46
56

In [59]:
i = 1
for value in range(11):
  i += 1
  print(i)
print(value)

2
3
4
5
6
7
8
9
10
11
12
10

In [65]:
numb = int(input("Enter number please:"))
print(f"Table of {numb}")
for i in range(1, 11):
  print(f'{numb} x {i} = {numb * i}')

Table of 11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110