In [1]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newList = []

for elements in fruits:
  if "a" in elements:
    newList.append(elements)

print(fruits)
print(newList)

['apple', 'banana', 'cherry', 'kiwi', 'mango']
['apple', 'banana', 'mango']

In [2]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newList = [x for x in fruits]

print(newList)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [3]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newList = [x for x in fruits if x != "apple"]

print(newList)

['banana', 'cherry', 'kiwi', 'mango']

In [4]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newList = [x for x in fruits if "a" in x]

print(newList)

['apple', 'banana', 'mango']

In [6]:
name1="Ahmed"
name2="Ahmed"

name1 > name2

False

In [7]:
name1="Ahmed"
name2="Ahmed"

name1 >= name2

True

In [8]:
name1="Ahmed1"
name2="Ahmed"

name1 > name2

True

In [9]:
courses = ["MS Data Science", "MS AI", "BS Software Engineering", "MPhil Chemistry"]
newList = [x for x in courses if "BS" in x or "MS" in x]

print(newList)

['MS Data Science', 'MS AI', 'BS Software Engineering']

In [13]:
courses = ["MS Data Science", "MS AI", "BS Software Engineering", "MPhil Chemistry"]
newList = [x for x in courses if "BS" in x or "MS" in x or "MPhil" in x]

print(newList)

['MS Data Science', 'MS AI', 'BS Software Engineering', 'MPhil Chemistry']

In [14]:
newList = [x for x in range(10)]

print(newList)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
courses = ["MS Data Science", "MS AI", "BS Software Engineering", "MPhil Chemistry"]
newList = [x for x in courses if "BS" in x or "MS" in x]

print(newList)
el = newList.pop()
print(newList)
newList.append(el)
print(newList)
newList.pop(1)
print(newList)

['MS Data Science', 'MS AI', 'BS Software Engineering']
['MS Data Science', 'MS AI']
['MS Data Science', 'MS AI', 'BS Software Engineering']
['MS Data Science', 'BS Software Engineering']

In [23]:
this_list = ['banana', 'apple', 'cherry', 'pineapple', 'kiwi']


# Micheal snap
this_list.reverse()

print(this_list)

['kiwi', 'pineapple', 'cherry', 'apple', 'banana']

In [26]:
list_a = ['a', 'b', 'c']

print(list_a)

list_b = list_a.copy()

list_a.append('d')

print(list_b)
print(list_a)

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c', 'd']

In [31]:
myInfo = {"name": "Uzair Ahmed", "age": 28, "profession": "Software Engineer", "gender": "male"}
print(myInfo)
print(len(myInfo))

{'name': 'Uzair Ahmed', 'age': 28, 'profession': 'Software Engineer', 'gender': 'male'}
4