## Final Examination
## Name: Uzair Ahmed
## Email: uzairahmedwyne@hotmail.com
## Class: PGD - DSAI - B - VII
## Module: Python For DS
## Phone: +92 344 2491144

Question 1: Lists (6 Marks)
  1. Given the list numbers = [10, 20, 30, 40, 50], write a Python code snippet to:
      - Append the number 60 to the list.
      - Remove the number 20 from the list.
      - Insert 80 at index 2.
      - Print the sum of all the elements in the list.

In [9]:
list_of_numbers = [10, 20, 30, 40, 50]
list_of_numbers.append(60)
list_of_numbers = [x for x in list_of_numbers if x != 20]
print('Remove the number 20 from the list', list_of_numbers)
list_of_numbers.insert(2 , 80)
print('Insert 80 at index 2', list_of_numbers)
print('sum of all the elements in the list', sum(list_of_numbers))

Remove the number 20 from the list [10, 30, 40, 50, 60]
Insert 80 at index 2 [10, 30, 80, 40, 50, 60]
sum of all the elements in the list 270

Question 2: Tuples (6 Marks)

  2. Consider the tuple coordinates = (12.5, 45.8, 33.1).
      - Write a Python code snippet to unpack the values of the tuple into three variables: `x`, `y`, and `z`.
      - Explain why tuples are generally preferred over lists for storing fixed sets of data.

In [10]:
tuple_coords = (12.5, 45.8, 33.1)

x, y, z = tuple_coords

print("unpack the values of the tuple into three variables: `x`, `y`, and `z`", x, y, z)

unpack the values of the tuple into three variables: `x`, `y`, and `z` 12.5 45.8 33.1

- Question: Explain why tuples are generally preferred over lists for storing fixed sets of data
    - Answer: This is because of the immutable nature of tuples which makes them best suited to store fixed set of data, so that even if some piece of code tries to
  update it, it returns error which we can handle

Question 3: Dictionaries (6 Marks)

  3. Given the dictionary `student_scores = {Faraz: 85, Raza: 90, Ishaq: 78}`:
      - Write a Python code snippet to add a new student `David` with a score of 92.
      - Update Raza's score to 82.
      - Write a code snippet to print all student names and their scores in the format: `Name: Score`.

In [27]:
student_scores = {"Faraz": 85, "Raza": 90, "Ishaq": 78}

student_scores.update({"David": 92})

print("add a new student `David` with a score of 92", student_scores)

student_scores["Raza"] = 82
print("Update Raza's score to 82", student_scores)

print("Write a code snippet to print all student names and their scores in the format: `Name: Score`")
for name, score in student_scores.items():
  print(f'{name}: {score}')

add a new student `David` with a score of 92 {'Faraz': 85, 'Raza': 90, 'Ishaq': 78, 'David': 92}
Update Raza's score to 82 {'Faraz': 85, 'Raza': 82, 'Ishaq': 78, 'David': 92}
Write a code snippet to print all student names and their scores in the format: `Name: Score`
Faraz: 85
Raza: 82
Ishaq: 78
David: 92

Question 4: User-defined Functions (6 Marks)

  4. Write a Python function called `calculate_mean` that takes a list of numbers as input and
  returns the mean (average) of the numbers.

In [25]:
def calculate_mean(list_of_numbers_args: list[float | int]):
  return sum(list_of_numbers_args) / len(list_of_numbers_args)

print('average', calculate_mean([1,2,3, 5.5]))

average 2.875

Question 5: Lists and Dictionaries (8 Marks)

  5. Write a Python function called `grade_students` that takes a dictionary of student names and
  their scores, and returns a new dictionary with student names and their corresponding grades (A,
  B, C, D, F). Use the following grading scale:
  - A: 90-100
  - B: 80-89
  - C: 70-79
  - D: 60-69
  - F: Below 60

In [28]:
def grade_students(student_name_score_dict: dict[str, int | float]):
  student_name_grade_dict = {}

  for name in student_name_score_dict.keys():
    grade = 'F'
    if student_name_score_dict[name] >= 90:
      grade = 'A'
    elif student_name_score_dict[name] >= 80:
      grade = 'B'
    elif student_name_score_dict[name] >= 70:
      grade = 'C'
    elif student_name_score_dict[name] >= 60:
      grade = 'D'
    student_name_grade_dict[name] = grade

  return student_name_grade_dict

print('student name and grades', grade_students({
  "Uzair": 90,
  "Azeem": 50,
  "Bilal": 60,
  "Kasmani": 71,
}))

student name and grades {'Uzair': 'A', 'Azeem': 'F', 'Bilal': 'D', 'Kasmani': 'C'}

Question 6: Basic Pandas Functions (4 Marks)

  6. Given a CSV file named `data.csv` with columns `Name`, `Age`, and `Salary`, write a Python code snippet using pandas to:
  - Load the CSV file into a DataFrame.
  - Display the first and last 5 rows of the DataFrame.
  - Print the mean salary and see if any missing values present visualize the missing values if there.

In [37]:
import pandas as pd

# Load the CSV file into a DataFrame.
df = pd.read_csv(r'imports/data.csv')

# Display the first and last 5 rows of the DataFrame.
print('first 5 rows\n', df.head())
print()
print('last 5 rows\n', df.tail())
print()

# Print the mean salary
print('mean salary', df['Salary'].mean())
print("\nsee if any missing values present visualize the missing values if there")

# see if any missing values present visualize the missing values if there.
print(df.isna().sum())
print(df.isna())

first 5 rows
       Name  Age  Salary
0    Alice   28   70000
1      Bob   34   80000
2  Charlie   29   65000
3    David   40  120000
4      Eva   22   50000

last 5 rows
      Name  Age  Salary
5   Frank   36   95000
6   Grace   30   72000
7  Hannah   25   60000
8     Ian   45  130000
9    Jack   38  110000

mean salary 85200.0

see if any missing values present visualize the missing values if there
Name      0
Age       0
Salary    0
dtype: int64
    Name    Age  Salary
0  False  False   False
1  False  False   False
2  False  False   False
3  False  False   False
4  False  False   False
5  False  False   False
6  False  False   False
7  False  False   False
8  False  False   False
9  False  False   False

Question 7: Pandas EDA - Summary Statistics (6 Marks)

  7. Using the DataFrame from Question 6, write a Python code snippet to:
  - Calculate and print summary statistics for the `Age` column (mean, median, standard deviation).

In [43]:
df['Age'].agg(['mean', 'median', 'std'])

mean      32.700000
median    32.000000
std        7.165504
Name: Age, dtype: float64

Question 8: Pandas EDA - Filtering Data (6 Marks)

  8. Using the same DataFrame, write a Python code snippet to:
  - Filter and print the records of employees who are older than 30 years.

In [44]:
df[df['Age'] > 30]

    Name  Age  Salary
1    Bob   34   80000
3  David   40  120000
5  Frank   36   95000
8    Ian   45  130000
9   Jack   38  110000

Question 9: Pandas EDA - Grouping Data (6 Marks)

  9. Using the same DataFrame, write a Python code snippet to:
  - Group the data by `Age` and calculate the mean salary for each age group.
  - Print the result.

In [53]:
grouped_df_by_age = df.groupby('Age')
print(grouped_df_by_age['Salary'].mean())

Age
22     50000.0
25     60000.0
28     70000.0
29     65000.0
30     72000.0
34     80000.0
36     95000.0
38    110000.0
40    120000.0
45    130000.0
Name: Salary, dtype: float64

Question 10: User-defined Function and Pandas Integration (6 Marks)

  10. Write a Python function called `load_and_describe_csv` that:
  - Takes the filename of a CSV file as input.
  - Loads the CSV file into a pandas DataFrame.
  - Returns the DataFrame and its summary statistics.

In [54]:
def load_and_describe_csv(filename):
  df = pd.read_csv(rf'{filename}')

  return df, df.describe()

df, describe = load_and_describe_csv('imports/data.csv')
print(df.head())
print()
print(describe)

      Name  Age  Salary
0    Alice   28   70000
1      Bob   34   80000
2  Charlie   29   65000
3    David   40  120000
4      Eva   22   50000

             Age         Salary
count  10.000000      10.000000
mean   32.700000   85200.000000
std     7.165504   27169.427263
min    22.000000   50000.000000
25%    28.250000   66250.000000
50%    32.000000   76000.000000
75%    37.500000  106250.000000
max    45.000000  130000.000000