In [1]:
import pandas as pd
from ydata_profiling import ProfileReport
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [55]:
df = pd.read_csv('data/titanic.csv')

In [56]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [58]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [59]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
profile = ProfileReport(df, title="Titanic Report")

In [9]:
profile.to_file("titanic_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [60]:
print(df.Age.unique())

[22.   38.   26.   35.     nan 54.    2.   27.   14.    4.   58.   20.
 39.   55.   31.   34.   15.   28.    8.   19.   40.   66.   42.   21.
 18.    3.    7.   49.   29.   65.   28.5   5.   11.   45.   17.   32.
 16.   25.    0.83 30.   33.   23.   24.   46.   59.   71.   37.   47.
 14.5  70.5  32.5  12.    9.   36.5  51.   55.5  40.5  44.    1.   61.
 56.   50.   36.   45.5  20.5  62.   41.   52.   63.   23.5   0.92 43.
 60.   10.   64.   13.   48.    0.75 53.   57.   80.   70.   24.5   6.
  0.67 30.5   0.42 34.5  74.  ]

In [61]:
print(df.Age.mean())

29.69911764705882

In [62]:
print(df.Age.median())

28.0

In [13]:
df.Age.fillna(df.Age.mean())

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [14]:
print(df.Age.unique())

[22.   38.   26.   35.     nan 54.    2.   27.   14.    4.   58.   20.
 39.   55.   31.   34.   15.   28.    8.   19.   40.   66.   42.   21.
 18.    3.    7.   49.   29.   65.   28.5   5.   11.   45.   17.   32.
 16.   25.    0.83 30.   33.   23.   24.   46.   59.   71.   37.   47.
 14.5  70.5  32.5  12.    9.   36.5  51.   55.5  40.5  44.    1.   61.
 56.   50.   36.   45.5  20.5  62.   41.   52.   63.   23.5   0.92 43.
 60.   10.   64.   13.   48.    0.75 53.   57.   80.   70.   24.5   6.
  0.67 30.5   0.42 34.5  74.  ]

In [63]:
df.Age = df.Age.fillna(df.Age.mean())

In [16]:
print(df.Age.unique())

[22.         38.         26.         35.         29.69911765 54.
  2.         27.         14.          4.         58.         20.
 39.         55.         31.         34.         15.         28.
  8.         19.         40.         66.         42.         21.
 18.          3.          7.         49.         29.         65.
 28.5         5.         11.         45.         17.         32.
 16.         25.          0.83       30.         33.         23.
 24.         46.         59.         71.         37.         47.
 14.5        70.5        32.5        12.          9.         36.5
 51.         55.5        40.5        44.          1.         61.
 56.         50.         36.         45.5        20.5        62.
 41.         52.         63.         23.5         0.92       43.
 60.         10.         64.         13.         48.          0.75
 53.         57.         80.         70.         24.5         6.
  0.67       30.5         0.42       34.5        74.        ]

In [17]:
df.Age.isna().sum()

np.int64(0)

In [18]:
print(df.Embarked.unique())

['S' 'C' 'Q' nan]

In [64]:
df.Embarked.fillna(df.Embarked.mode()[0])
# print(df.Embarked.mode())

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [65]:
df.Embarked = df.Embarked.fillna(df.Embarked.mode()[0])

In [21]:
print(df.Embarked.unique())

['S' 'C' 'Q']

In [22]:
print(df.Cabin.unique())

[nan 'C85' 'C123' 'E46' 'G6' 'C103' 'D56' 'A6' 'C23 C25 C27' 'B78' 'D33'
 'B30' 'C52' 'B28' 'C83' 'F33' 'F G73' 'E31' 'A5' 'D10 D12' 'D26' 'C110'
 'B58 B60' 'E101' 'F E69' 'D47' 'B86' 'F2' 'C2' 'E33' 'B19' 'A7' 'C49'
 'F4' 'A32' 'B4' 'B80' 'A31' 'D36' 'D15' 'C93' 'C78' 'D35' 'C87' 'B77'
 'E67' 'B94' 'C125' 'C99' 'C118' 'D7' 'A19' 'B49' 'D' 'C22 C26' 'C106'
 'C65' 'E36' 'C54' 'B57 B59 B63 B66' 'C7' 'E34' 'C32' 'B18' 'C124' 'C91'
 'E40' 'T' 'C128' 'D37' 'B35' 'E50' 'C82' 'B96 B98' 'E10' 'E44' 'A34'
 'C104' 'C111' 'C92' 'E38' 'D21' 'E12' 'E63' 'A14' 'B37' 'C30' 'D20' 'B79'
 'E25' 'D46' 'B73' 'C95' 'B38' 'B39' 'B22' 'C86' 'C70' 'A16' 'C101' 'C68'
 'A10' 'E68' 'B41' 'A20' 'D19' 'D50' 'D9' 'A23' 'B50' 'A26' 'D48' 'E58'
 'C126' 'B71' 'B51 B53 B55' 'D49' 'B5' 'B20' 'F G63' 'C62 C64' 'E24' 'C90'
 'C45' 'E8' 'B101' 'D45' 'C46' 'D30' 'E121' 'D11' 'E77' 'F38' 'B3' 'D6'
 'B82 B84' 'D17' 'A36' 'B102' 'B69' 'E49' 'C47' 'D28' 'E17' 'A24' 'C50'
 'B42' 'C148']

In [66]:
df.Cabin = df.Cabin.fillna(df.Cabin.mode()[0])

In [24]:
no_of_pessengers = df.Survived.value_counts()
no_of_deaths = no_of_pessengers[0]
no_of_survived = no_of_pessengers[1]
perc_of_deaths = (no_of_deaths / no_of_pessengers.sum()) * 100
perc_of_survived = (no_of_survived / no_of_pessengers.sum()) * 100

In [25]:
# ploting
objects = ('Number of Death', 'Number of Survived')
bars = np.arange(len(objects))
no_of_pessengers.plot(kind='bar',figsize=(6,4),color=['g','b'])
plt.xticks(bars,objects,rotation='horizontal')
plt.title('Total Number of Pessengers - Death and Survived')
plt.xlabel('Total Number of Pessengers')
plt.ylabel('Number of Pessengers')
plt.show()

/tmp/ipykernel_17001/1400814597.py:9: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [26]:
# Pie Chart
print(perc_of_deaths, perc_of_survived)
colors = ['g', 'b']
labels = ['death', 'survived']
plt.pie(no_of_pessengers, colors=colors, labels=labels, autopct='%.2f%%', wedgeprops={'edgecolor': 'black'})
plt.show()

61.61616161616161 38.38383838383838

/tmp/ipykernel_17001/1453648163.py:6: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [27]:
male_female = df.groupby('Sex').size()
print(male_female)

Sex
female    314
male      577
dtype: int64

In [28]:
survived_male_female = df.groupby(['Sex', 'Survived']).size()
survived_male_female

Sex     Survived
female  0            81
        1           233
male    0           468
        1           109
dtype: int64

In [29]:
colors = ['g', 'b', 'r', 'y']
labels = ['Female-Died', 'Female-Survived', 'Male-Died', 'Male-Survived']
plt.pie(survived_male_female, colors=colors, labels=labels, autopct='%.2f%%', wedgeprops={'edgecolor': 'black'}, explode=[0.1,0,0,0])
plt.show()

/tmp/ipykernel_17001/397065708.py:4: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [30]:
objects = ('Female-Died ','Female-Survived','Male-Died ','Male-Survived')
bars = np.arange(len(objects))
survived_male_female.plot(kind='bar',figsize=(6,4),color=['g','b'])
plt.xticks(bars,objects,rotation='horizontal')
plt.title('Total Number of Pessengers - Death and Survived')
plt.xlabel('Total Number of Pessengers')
plt.ylabel('Number of Pessengers')
plt.show()

/tmp/ipykernel_17001/2215902481.py:8: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [31]:
sns.boxplot(x='Pclass', y='Fare', hue='Survived', data=df, palette='Set1', fliersize=3, width=0.7, whis=1.5)

In [32]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [88]:
X = df.drop(columns=['Survived', 'PassengerId', 'Name', 'Fare', 'Ticket', 'Cabin'])
X.head()

   Pclass     Sex   Age  SibSp  Parch Embarked
0       3    male  22.0      1      0        S
1       1  female  38.0      1      0        C
2       3  female  26.0      0      0        S
3       1  female  35.0      1      0        S
4       3    male  35.0      0      0        S

In [89]:
X

     Pclass     Sex        Age  SibSp  Parch Embarked
0         3    male  22.000000      1      0        S
1         1  female  38.000000      1      0        C
2         3  female  26.000000      0      0        S
3         1  female  35.000000      1      0        S
4         3    male  35.000000      0      0        S
..      ...     ...        ...    ...    ...      ...
886       2    male  27.000000      0      0        S
887       1  female  19.000000      0      0        S
888       3  female  29.699118      1      2        S
889       1    male  26.000000      0      0        C
890       3    male  32.000000      0      0        Q

[891 rows x 6 columns]

In [90]:
y = df.Survived

In [91]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [92]:
# encoding (ordinal encoding, label encoding, onehot encoding)
# categorical (non numeric) columns where there exists an order we use orderinal encoding else one hot encoding
# label encoding is suggested to be performed on output columns, but we sometimes use it in input columns as well
# from sklearn.preprocessing import OrdinalEncoder
# from sklearn.preprocessing import OneHotEncoder

# one hot encoding breaks categorical column values to one column for each value

# pandas has its own mehod to encode onhot on the dataset
pd.get_dummies(X, columns=['Sex', 'Pclass'], dtype=int)

,Age,SibSp,Parch,Embarked,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3
0,22.000000,1,0,S,0,1,0,0,1
1,38.000000,1,0,C,1,0,1,0,0
2,26.000000,0,0,S,1,0,0,0,1
3,35.000000,1,0,S,1,0,1,0,0
4,35.000000,0,0,S,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...
886,27.000000,0,0,S,0,1,0,1,0
887,19.000000,0,0,S,1,0,1,0,0
888,29.699118,1,2,S,1,0,0,0,1
889,26.000000,0,0,C,0,1,1,0,0
890,32.000000,0,0,Q,0,1,0,0,1

In [93]:
X = pd.get_dummies(X, columns=['Sex', 'Pclass'], drop_first=True, dtype=int)

In [94]:
X

           Age  SibSp  Parch Embarked  Sex_male  Pclass_2  Pclass_3
0    22.000000      1      0        S         1         0         1
1    38.000000      1      0        C         0         0         0
2    26.000000      0      0        S         0         0         1
3    35.000000      1      0        S         0         0         0
4    35.000000      0      0        S         1         0         1
..         ...    ...    ...      ...       ...       ...       ...
886  27.000000      0      0        S         1         1         0
887  19.000000      0      0        S         0         0         0
888  29.699118      1      2        S         0         0         1
889  26.000000      0      0        C         1         0         0
890  32.000000      0      0        Q         1         0         1

[891 rows x 7 columns]

In [95]:
from sklearn.preprocessing import OneHotEncoder

In [96]:
ohe = OneHotEncoder(drop='first', sparse_output=False, dtype=np.int32)

In [97]:
encoded_data = ohe.fit_transform(X[['Embarked']])

In [98]:
encoded_df = pd.DataFrame(encoded_data, columns=ohe.get_feature_names_out(['Embarked']))

In [99]:
encoded_df

     Embarked_Q  Embarked_S
0             0           1
1             0           0
2             0           1
3             0           1
4             0           1
..          ...         ...
886           0           1
887           0           1
888           0           1
889           0           0
890           1           0

[891 rows x 2 columns]

In [100]:
Xtemp = pd.concat([X, encoded_df], axis=1)

In [101]:
Xtemp

,Age,SibSp,Parch,Embarked,Sex_male,Pclass_2,Pclass_3,Embarked_Q,Embarked_S
0,22.000000,1,0,S,1,0,1,0,1
1,38.000000,1,0,C,0,0,0,0,0
2,26.000000,0,0,S,0,0,1,0,1
3,35.000000,1,0,S,0,0,0,0,1
4,35.000000,0,0,S,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...
886,27.000000,0,0,S,1,1,0,0,1
887,19.000000,0,0,S,0,0,0,0,1
888,29.699118,1,2,S,0,0,1,0,1
889,26.000000,0,0,C,1,0,0,0,0
890,32.000000,0,0,Q,1,0,1,1,0

In [102]:
X = Xtemp.drop(columns=['Embarked'])

In [103]:
X

,Age,SibSp,Parch,Sex_male,Pclass_2,Pclass_3,Embarked_Q,Embarked_S
0,22.000000,1,0,1,0,1,0,1
1,38.000000,1,0,0,0,0,0,0
2,26.000000,0,0,0,0,1,0,1
3,35.000000,1,0,0,0,0,0,1
4,35.000000,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...
886,27.000000,0,0,1,1,0,0,1
887,19.000000,0,0,0,0,0,0,1
888,29.699118,1,2,0,0,1,0,1
889,26.000000,0,0,1,0,0,0,0
890,32.000000,0,0,1,0,1,1,0

In [104]:
from sklearn.model_selection import train_test_split

In [105]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [106]:
x_train

,Age,SibSp,Parch,Sex_male,Pclass_2,Pclass_3,Embarked_Q,Embarked_S
140,29.699118,0,2,0,0,1,0,0
439,31.000000,0,0,1,1,0,0,1
817,31.000000,1,1,1,1,0,0,0
378,20.000000,0,0,1,0,1,0,0
491,21.000000,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...
835,39.000000,1,1,0,0,0,0,0
192,19.000000,1,0,0,0,1,0,1
629,29.699118,0,0,1,0,1,1,0
559,36.000000,1,0,0,0,1,0,1
684,60.000000,1,1,1,1,0,0,1

In [107]:
x_test

,Age,SibSp,Parch,Sex_male,Pclass_2,Pclass_3,Embarked_Q,Embarked_S
495,29.699118,0,0,1,0,1,0,0
648,29.699118,0,0,1,0,1,0,1
278,7.000000,4,1,1,0,1,1,0
31,29.699118,1,0,0,0,0,0,0
255,29.000000,0,2,0,0,1,0,0
...,...,...,...,...,...,...,...,...
780,13.000000,0,0,0,0,1,0,0
837,29.699118,0,0,1,0,1,0,1
215,31.000000,1,0,0,0,0,0,0
833,23.000000,0,0,1,0,1,0,1
372,19.000000,0,0,1,0,1,0,1

In [108]:
y_train

140    0
439    0
817    0
378    0
491    0
      ..
835    1
192    1
629    0
559    1
684    0
Name: Survived, Length: 712, dtype: int64

In [109]:
y_test

495    0
648    0
278    0
31     1
255    1
      ..
780    1
837    0
215    1
833    0
372    0
Name: Survived, Length: 179, dtype: int64

In [114]:
from sklearn.neighbors import KNeighborsClassifier

In [115]:
knn = KNeighborsClassifier(n_neighbors=3)

In [116]:
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [117]:
y_pred = knn.predict(x_test)

In [118]:
y_pred

array([0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0])

In [121]:
from sklearn.metrics import accuracy_score, mean_squared_error, r2_score

In [120]:
# Evaluate the model
print(f"Predictions: {y_pred}")
print(f"Accuracy: {accuracy_score(y_test, y_pred)}")

Predictions: [0 0 0 1 0 0 1 1 0 1 0 1 0 1 1 1 0 0 0 1 0 1 0 0 1 1 0 1 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 1 1 0
 0 0 0 0 0 0 0 0 1 0 0 1 1 1 1 0 0 0 1 1 0 0 1 0 0 1 0 0 0 0 0 1 1 0 0 1 0
 0 0 0 1 1 0 1 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 1 1 0 0 1
 0 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0]
Accuracy: 0.7821229050279329

In [122]:
print('MSE = ', mean_squared_error(y_test, y_pred))
print('R2 = ', r2_score(y_test, y_pred))
print('RMSE = ', np.sqrt(mean_squared_error(y_test, y_pred)))

MSE =  0.21787709497206703
R2 =  0.08023715415019772
RMSE =  0.46677306581685607

In [123]:
pd.DataFrame({'y_test': y_test, 'y_pred': y_pred})

     y_test  y_pred
495       0       0
648       0       0
278       0       0
31        1       1
255       1       0
..      ...     ...
780       1       1
837       0       0
215       1       1
833       0       0
372       0       0

[179 rows x 2 columns]